Internet Sports Gambling Activity
======

Group Project for the "Business Analytics Tools - Open Source" Course

Team Members: Carlos Montenegro Vela, Mario Acosta Castillo, Kripa Claire Fernandes

<p>&nbsp;</p>

## 1. Installing libraries and setting our WD

We install the following libraries: tidyverse, dplyr, lubridate, sqldf, scales, tidyr, plyr

In [1]:
#Important to later save our files
setwd("C:\\Users\\kfernandes\\Desktop\\Kripa Fernandes\\R Group Project")

In [2]:
# Installing tidyverse to use haven for importing SAS data
install.packages("tidyverse")
library(haven)

Installing package into 'C:/Users/kfernandes/Documents/R/win-library/3.6'
(as 'lib' is unspecified)
Warning message:
"unable to access index for repository https://cran.r-project.org/src/contrib:
  cannot open URL 'https://cran.r-project.org/src/contrib/PACKAGES'"Warning message:
"package 'tidyverse' is not available (for R version 3.6.1)"Warning message:
"unable to access index for repository https://cran.r-project.org/bin/windows/contrib/3.6:
  cannot open URL 'https://cran.r-project.org/bin/windows/contrib/3.6/PACKAGES'"

In [3]:
# Installing dplyr for data manipulation
install.packages("dplyr")
library(dplyr)

Installing package into 'C:/Users/kfernandes/Documents/R/win-library/3.6'
(as 'lib' is unspecified)
Warning message:
"unable to access index for repository https://cran.r-project.org/src/contrib:
  cannot open URL 'https://cran.r-project.org/src/contrib/PACKAGES'"Warning message:
"package 'dplyr' is not available (for R version 3.6.1)"Warning message:
"package 'dplyr' was built under R version 3.6.2"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [4]:
# Installing lubridate to format date values
install.packages("lubridate")
library(lubridate)

Installing package into 'C:/Users/kfernandes/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'lubridate' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\kfernandes\AppData\Local\Temp\RtmpAfj0ob\downloaded_packages

Warning message:
"package 'lubridate' was built under R version 3.6.2"
Attaching package: 'lubridate'

The following object is masked from 'package:base':

    date

In [5]:
# Installing SQL to group data
install.packages("sqldf")
install.packages("scales")
library("sqldf")
library("scales")

Installing package into 'C:/Users/kfernandes/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'sqldf' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\kfernandes\AppData\Local\Temp\RtmpAfj0ob\downloaded_packages

Installing package into 'C:/Users/kfernandes/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'scales' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\kfernandes\AppData\Local\Temp\RtmpAfj0ob\downloaded_packages

Warning message:
"package 'sqldf' was built under R version 3.6.2"Loading required package: gsubfn
Loading required package: proto
Loading required package: RSQLite
Warning message:
"package 'RSQLite' was built under R version 3.6.2"Warning message:
"package 'scales' was built under R version 3.6.2"

In [6]:
install.packages("tidyr")
library(tidyr)

Installing package into 'C:/Users/kfernandes/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'tidyr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\kfernandes\AppData\Local\Temp\RtmpAfj0ob\downloaded_packages

Warning message:
"package 'tidyr' was built under R version 3.6.2"

In [7]:
#Installing plyr to rename columns in dataframe
install.packages("plyr")
library(plyr)

Installing package into 'C:/Users/kfernandes/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'plyr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\kfernandes\AppData\Local\Temp\RtmpAfj0ob\downloaded_packages

Warning message:
"package 'plyr' was built under R version 3.6.2"------------------------------------------------------------------------------
You have loaded plyr after dplyr - this is likely to cause problems.
If you need functions from both plyr and dplyr, please load plyr first, then dplyr:
library(plyr); library(dplyr)
------------------------------------------------------------------------------

Attaching package: 'plyr'

The following object is masked from 'package:lubridate':

    here

The following objects are masked from 'package:dplyr':

    arrange, count, desc, failwith, id, mutate, rename, summarise,
    summarize

<p>&nbsp;</p>

## 2. Reading the datasets

We read the following datasets: 
- Raw Dataset I Demographics
- Raw Dataset II - UserDailyAggregation
- Raw Dataset III - PokerChipConversions
- Analytic Dataset - Actual Internet Sports Gambling Activity: February 2005 through September 2005

<p>&nbsp;</p>

#### Reading, understanding and cleaning the 'Demographics' Dataset

In [8]:
#Importing and saving SAS data in R
#C:\\Users\\kfernandes\\Desktop\\Kripa Fernandes\\R Group Project\\

demographics <- read_sas("C:\\Users\\kfernandes\\Desktop\\Kripa Fernandes\\R Group Project\\RawDataIDemographics.sas7bdat")

In [9]:
#To check type of data

class(demographics)

[1] "tbl_df"     "tbl"        "data.frame"

In [10]:
#To check column names of data frame

names(demographics)

 [1] "UserID"        "Country"       "Language"      "RegDate"
 [5] "FirstPay"      "FirstAct"      "FirstSp"       "FirstCa"
 [9] "FirstGa"       "FirstPo"       "ApplicationID" "Gender"

In [11]:
#To check dimensions of data frame: Rows (42649) and Columns (12)

dim(demographics)

[1] 42649    12

In [12]:
#To check data values for an idea of what to clean

head(demographics)

  UserID  Country Language RegDate    FirstPay FirstAct FirstSp  FirstCa
1 1324354 276     2        2005-02-01 20050224 20050224 20050224 NULL
2 1324355 300     8        2005-02-01 20050201 20050201 20050201 NULL
3 1324356 276     2        2005-02-01 20050201 20050202 20050202 NULL
4 1324358 752     1        2005-02-01 20050201 20050201 20050201 NULL
5 1324360 792     7        2005-02-01 20050202 20050202 20050202 20050203
6 1324362 276     2        2005-02-01 20050211 20050211 20050211 NULL
  FirstGa FirstPo  ApplicationID Gender
1 NULL    NULL     3             1
2 NULL    20050611 1             1
3 NULL    NULL     3             1
4 NULL    NULL     1             1
5 NULL    NULL     9             1
6 NULL    NULL     3             1

In [13]:
tail(demographics)

  UserID  Country Language RegDate    FirstPay FirstAct FirstSp  FirstCa
1 1402189 276     2        2005-02-27 20050421 20050423 20050423 NULL
2 1402190 300     8        2005-02-27 20050227 20050228 20050228 NULL
3 1402191 724     4        2005-02-27 20050227 20050227 20050227 NULL
4 1402192 792     7        2005-02-27 20050428 20050428 20050428 NULL
5 1402197 300     8        2005-02-27 20050228 20050302 20050302 NULL
6 1402198 752     5        2005-02-27 20050722 20050228 NULL     20050722
  FirstGa  FirstPo  ApplicationID Gender
1 NULL     NULL      3            1
2 NULL     NULL     14            1
3 NULL     NULL      1            1
4 NULL     NULL      9            1
5 NULL     NULL     14            1
6 20050722 20050228 24            1

In [14]:
#To understand data structure

str(demographics)

Classes 'tbl_df', 'tbl' and 'data.frame':	42649 obs. of  12 variables:
 $ UserID       : num  1324354 1324355 1324356 1324358 1324360 ...
  ..- attr(*, "label")= chr "User ID"
 $ Country      : num  276 300 276 752 792 276 208 276 620 792 ...
  ..- attr(*, "label")= chr "Country of residence"
 $ Language     : num  2 8 2 1 7 2 11 2 16 7 ...
  ..- attr(*, "label")= chr "Primary language"
 $ RegDate      : chr  "2005-02-01" "2005-02-01" "2005-02-01" "2005-02-01" ...
  ..- attr(*, "label")= chr "Registration Date"
 $ FirstPay     : chr  "20050224" "20050201" "20050201" "20050201" ...
  ..- attr(*, "label")= chr "First Payin Date"
 $ FirstAct     : chr  "20050224" "20050201" "20050202" "20050201" ...
  ..- attr(*, "label")= chr "First Active Play Date"
 $ FirstSp      : chr  "20050224" "20050201" "20050202" "20050201" ...
  ..- attr(*, "label")= chr "First Sports Book Play Date"
 $ FirstCa      : chr  "NULL" "NULL" "NULL" "NULL" ...
  ..- attr(*, "label")= chr "First Casino Play Date"
 $ FirstGa      : chr  "NULL" "NULL" "NULL" "NULL" ...
  ..- attr(*, "label")= chr "First Games Play Date"
 $ FirstPo      : chr  "NULL" "20050611" "NULL" "NULL" ...
  ..- attr(*, "label")= chr "First Poker Play Date"
 $ ApplicationID: num  3 1 3 1 9 3 1 3 1 9 ...
  ..- attr(*, "label")= chr "Application ID"
 $ Gender       : num  1 1 1 1 1 1 1 1 1 1 ...
 - attr(*, "label")= chr "DEMOGRAPHICS"

In [15]:
glimpse(demographics)

Observations: 42,649
Variables: 12
$ UserID        <dbl> 1324354, 1324355, 1324356, 1324358, 1324360, 1324362,...
$ Country       <dbl> 276, 300, 276, 752, 792, 276, 208, 276, 620, 792, 792...
$ Language      <dbl> 2, 8, 2, 1, 7, 2, 11, 2, 16, 7, 7, 9, 11, 2, 8, 10, 2...
$ RegDate       <chr> "2005-02-01", "2005-02-01", "2005-02-01", "2005-02-01...
$ FirstPay      <chr> "20050224", "20050201", "20050201", "20050201", "2005...
$ FirstAct      <chr> "20050224", "20050201", "20050202", "20050201", "2005...
$ FirstSp       <chr> "20050224", "20050201", "20050202", "20050201", "2005...
$ FirstCa       <chr> "NULL", "NULL", "NULL", "NULL", "20050203", "NULL", "...
$ FirstGa       <chr> "NULL", "NULL", "NULL", "NULL", "NULL", "NULL", "NULL...
$ FirstPo       <chr> "NULL", "20050611", "NULL", "NULL", "NULL", "NULL", "...
$ ApplicationID <dbl> 3, 1, 3, 1, 9, 3, 1, 3, 1, 9, 9, 1, 1, 1, 1, 15, 3, 1...
$ Gender        <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...

In [16]:
#To understand the data values

summary(demographics)

     UserID           Country         Language        RegDate
 Min.   :1324354   Min.   :  8.0   Min.   : 1.000   Length:42649
 1st Qu.:1344150   1st Qu.:276.0   1st Qu.: 2.000   Class :character
 Median :1363323   Median :276.0   Median : 2.000   Mode  :character
 Mean   :1363348   Mean   :359.4   Mean   : 3.819
 3rd Qu.:1382577   3rd Qu.:300.0   3rd Qu.: 6.000
 Max.   :1402198   Max.   :895.0   Max.   :17.000

   FirstPay           FirstAct           FirstSp            FirstCa
 Length:42649       Length:42649       Length:42649       Length:42649
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




   FirstGa            FirstPo          ApplicationID        Gender
 Length:42649       Length:42649       Min.   : 1.000   Min.   :0.0000
 Class :character   Class :character   1st Qu.: 1.000   1st Qu.:1.0000
 Mode  :character   Mode  :character   Median : 3.000   Median :1.0000
                                       Mean   : 3.913   Mean   :0.9159
                                       3rd Qu.: 3.000   3rd Qu.:1.0000
                                       Max.   :42.000   Max.   :1.0000
                                                        NA's   :1

In [17]:
#Converting values to date format

demographics$FirstPay <- ymd(demographics$FirstPay)
demographics$FirstAct <- ymd(demographics$FirstAct)
demographics$FirstSp <- ymd(demographics$FirstSp)
demographics$FirstCa <- ymd(demographics$FirstCa)
demographics$FirstGa <- ymd(demographics$FirstGa)
demographics$FirstPo <- ymd(demographics$FirstPo)

Warning message:
" 1236 failed to parse."Warning message:
" 36761 failed to parse."Warning message:
" 39376 failed to parse."Warning message:
" 40507 failed to parse."

In [18]:
head(demographics)

  UserID  Country Language RegDate    FirstPay   FirstAct   FirstSp
1 1324354 276     2        2005-02-01 2005-02-24 2005-02-24 2005-02-24
2 1324355 300     8        2005-02-01 2005-02-01 2005-02-01 2005-02-01
3 1324356 276     2        2005-02-01 2005-02-01 2005-02-02 2005-02-02
4 1324358 752     1        2005-02-01 2005-02-01 2005-02-01 2005-02-01
5 1324360 792     7        2005-02-01 2005-02-02 2005-02-02 2005-02-02
6 1324362 276     2        2005-02-01 2005-02-11 2005-02-11 2005-02-11
  FirstCa    FirstGa FirstPo    ApplicationID Gender
1 <NA>       <NA>    <NA>       3             1
2 <NA>       <NA>    2005-06-11 1             1
3 <NA>       <NA>    <NA>       3             1
4 <NA>       <NA>    <NA>       1             1
5 2005-02-03 <NA>    <NA>       9             1
6 <NA>       <NA>    <NA>       3             1

In [19]:
#Making a copy to the final version

demographics_final <- demographics

<p>&nbsp;</p>



#### Reading, understanding and cleaning the 'Poker Chip Conversions' Dataset

In [20]:
#Importing Poker Chips Conversion dataset

pokerchips <- read_sas("C:\\Users\\kfernandes\\Desktop\\Kripa Fernandes\\R Group Project\\RawDataIIIPokerChipConversions.sas7bdat")

In [21]:
#To check type of data

class(pokerchips)

[1] "tbl_df"     "tbl"        "data.frame"

In [22]:
#To check column names of data frame

names(pokerchips)

[1] "UserID"        "TransDateTime" "TransType"     "TransAmount"

In [23]:
#To check dimensions of data frame: Rows (277907) and Columns (4)

dim(pokerchips)

[1] 277907      4

In [24]:
#To check data values for an idea of what to clean

head(pokerchips)

  UserID  TransDateTime       TransType TransAmount
1 1324355 2005-06-12 00:37:00 124       8.9999
2 1324355 2005-06-12 00:51:00 124       1.9999
3 1324355 2005-06-12 01:14:00 124       4.9999
4 1324355 2005-06-12 02:01:00  24       1.8069
5 1324355 2005-06-14 23:35:00 124       4.9999
6 1324355 2005-06-14 23:45:00 124       4.9999

In [25]:
#To understand data structure

str(pokerchips)

Classes 'tbl_df', 'tbl' and 'data.frame':	277907 obs. of  4 variables:
 $ UserID       : num  1324355 1324355 1324355 1324355 1324355 ...
  ..- attr(*, "label")= chr "User ID"
 $ TransDateTime: chr  "2005-06-12 00:37:00" "2005-06-12 00:51:00" "2005-06-12 01:14:00" "2005-06-12 02:01:00" ...
  ..- attr(*, "label")= chr "Transaction Date and Time"
 $ TransType    : num  124 124 124 24 124 124 124 24 124 124 ...
  ..- attr(*, "label")= chr "Transaction Type, 124:Buy; 24:Sell"
 $ TransAmount  : num  9 2 5 1.81 5 ...
  ..- attr(*, "label")= chr "Transaction Amount"
 - attr(*, "label")= chr "POKERCHIPCONVERSIONS"

In [26]:
glimpse(pokerchips)

Observations: 277,907
Variables: 4
$ UserID        <dbl> 1324355, 1324355, 1324355, 1324355, 1324355, 1324355,...
$ TransDateTime <chr> "2005-06-12 00:37:00", "2005-06-12 00:51:00", "2005-0...
$ TransType     <dbl> 124, 124, 124, 24, 124, 124, 124, 24, 124, 124, 24, 1...
$ TransAmount   <dbl> 8.9999, 1.9999, 4.9999, 1.8069, 4.9999, 4.9999, 4.830...

In [27]:
#To understand the data values

summary(pokerchips)

     UserID        TransDateTime        TransType       TransAmount
 Min.   :1324355   Length:277907      Min.   : 24.00   Min.   :    0.000
 1st Qu.:1341526   Class :character   1st Qu.: 24.00   1st Qu.:    4.207
 Median :1360347   Mode  :character   Median :124.00   Median :   12.511
 Mean   :1360872                      Mean   : 81.07   Mean   :   68.116
 3rd Qu.:1379968                      3rd Qu.:124.00   3rd Qu.:   35.000
 Max.   :1402198                      Max.   :124.00   Max.   :15995.527

In [28]:
#Check missing values

any(is.na(pokerchips))

[1] FALSE

In [29]:
#Import stringr to replace values

library(stringr)

In [30]:
#"1" refers to sell, "0" refers to buy

pokerchips$TransType <- str_replace(pokerchips$TransType, "124", "1")
pokerchips$TransType <- str_replace(pokerchips$TransType, "24", "0")

In [31]:
#Checking the class of TransType column

class(pokerchips$TransType)

[1] "character"

In [32]:
#Converting TransType to numeric

pokerchips$TransType <- as.numeric(pokerchips$TransType)

In [33]:
class(pokerchips$TransType)

[1] "numeric"

In [34]:
#Checking to see if all data has been adequately replaced

unique(pokerchips$TransType)

[1] 1 0

In [35]:
#Checking the class of TransAmount column

class(pokerchips$TransAmount)

[1] "numeric"

<p>&nbsp;</p>



#### Reading, understanding and cleaning the 'User Daily Aggregation' Dataset

In [36]:
#Importing User Daily Aggregation dataset

userdaily <- read_sas("C:\\Users\\kfernandes\\Desktop\\Kripa Fernandes\\R Group Project\\RawDataIIUserDailyAggregation.sas7bdat")

In [37]:
#To check type of data

class(userdaily)

[1] "tbl_df"     "tbl"        "data.frame"

In [38]:
#To check column names of data frame

names(userdaily)

[1] "UserID"    "Date"      "ProductID" "Stakes"    "Winnings"  "Bets"

In [39]:
#To check dimensions of data frame: Rows (1740196) and Columns (6)

dim(userdaily)

[1] 1740196       6

In [40]:
#To check data values for an idea of what to clean

head(userdaily)

  UserID  Date     ProductID Stakes Winnings Bets
1 1324354 20050224 1         20     0        2
2 1324354 20050225 1          0     0        0
3 1324354 20050227 1         20     0        2
4 1324354 20050303 1         10     0        1
5 1324354 20050304 1         10     0        1
6 1324354 20050305 1         10     0        1

In [41]:
tail(userdaily)

  UserID  Date     ProductID Stakes Winnings Bets
1 1405189 20050521 1          2.0   5.5       1
2 1405189 20050524 1          0.5   0.0       1
3 1405189 20050526 1          0.0   0.0       0
4 1405190 20050303 1         50.0   0.0      10
5 1405190 20050305 1          0.0   0.0       0
6 1405190 20050308 1          0.0   0.0       0

In [42]:
#Find unique Product IDs: 1 2 8 6 7 4 5. We observe that Product 3 is not in this set.

unique(userdaily$ProductID)

[1] 1 2 8 6 7 4 5

In [43]:
#Checking number of unique users for this dataset

length(unique(userdaily$UserID))

[1] 43851

In [44]:
#To understand data structure

str(userdaily)

Classes 'tbl_df', 'tbl' and 'data.frame':	1740196 obs. of  6 variables:
 $ UserID   : num  1324354 1324354 1324354 1324354 1324354 ...
  ..- attr(*, "label")= chr "User ID"
 $ Date     : chr  "20050224" "20050225" "20050227" "20050303" ...
  ..- attr(*, "label")= chr "Aggregation Date"
 $ ProductID: num  1 1 1 1 1 1 1 1 1 1 ...
  ..- attr(*, "label")= chr "Product ID"
 $ Stakes   : num  20 0 20 10 10 10 10 20 10 10 ...
  ..- attr(*, "label")= chr "Total stakes on a given day"
 $ Winnings : num  0 0 0 0 0 0 0 0 0 0 ...
  ..- attr(*, "label")= chr "Total winnings on a given day"
 $ Bets     : num  2 0 2 1 1 1 1 3 1 1 ...
  ..- attr(*, "label")= chr "Total number of bets on a given day"
 - attr(*, "label")= chr "USERDAILYAGGREGATION"

In [45]:
glimpse(userdaily)

Observations: 1,740,196
Variables: 6
$ UserID    <dbl> 1324354, 1324354, 1324354, 1324354, 1324354, 1324354, 132...
$ Date      <chr> "20050224", "20050225", "20050227", "20050303", "20050304...
$ ProductID <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
$ Stakes    <dbl> 20.00, 0.00, 20.00, 10.00, 10.00, 10.00, 10.00, 20.00, 10...
$ Winnings  <dbl> 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.0...
$ Bets      <dbl> 2, 0, 2, 1, 1, 1, 1, 3, 1, 1, 1, 1, 0, 1, 0, 3, 1, 2, 2, ...

In [46]:
#To understand the data values

summary(userdaily)

     UserID            Date             ProductID        Stakes
 Min.   :1324354   Length:1740196     Min.   :1.00   Min.   :   -28.30
 1st Qu.:1343655   Class :character   1st Qu.:1.00   1st Qu.:     1.22
 Median :1362683   Mode  :character   Median :1.00   Median :     6.75
 Mean   :1363692                      Mean   :1.44   Mean   :    69.79
 3rd Qu.:1383391                      3rd Qu.:1.00   3rd Qu.:    23.35
 Max.   :1405190                      Max.   :8.00   Max.   :272415.50
    Winnings              Bets
 Min.   :   -40.00   Min.   :  -1.000
 1st Qu.:     0.00   1st Qu.:   1.000
 Median :     0.00   Median :   2.000
 Mean   :    65.02   Mean   :   9.134
 3rd Qu.:    15.50   3rd Qu.:   5.000
 Max.   :270222.00   Max.   :6223.000

In [47]:
#Check missing values

any(is.na(userdaily))

[1] FALSE

In [48]:
#Replace negative values with 0 - correcting the computer error

userdaily$Stakes[userdaily$Stakes<0] <- 0
userdaily$Winnings[userdaily$Winnings<0] <- 0
userdaily$Bets[userdaily$Bets<0] <- 0

In [49]:
#To check if data matches codebook and if negative values have been replaced

min(userdaily$Stakes)
max(userdaily$Stakes)
min(userdaily$Winnings)
max(userdaily$Winnings)
min(userdaily$Bets)
max(userdaily$Bets)

[1] 0

[1] 272415.5

[1] 0

[1] 270222

[1] 0

[1] 6223

In [50]:
#Converting date into date format using lubridate function

userdaily$Date <- ymd(userdaily$Date)

In [51]:
class(userdaily$Date)

[1] "Date"

In [52]:
min(userdaily$Date)
max(userdaily$Date)

[1] "2005-02-01"

[1] "2005-09-30"

<p>&nbsp;</p>



#### Reading, understanding and cleaning the 'Analytic' Dataset

In [53]:
#Importing User Daily Aggregation dataset

analyticdata <- read_sas("C:\\Users\\kfernandes\\Desktop\\Kripa Fernandes\\R Group Project\\AnalyticDataInternetGambling.sas7bdat")

In [54]:
#To check type of data

class(analyticdata)

[1] "tbl_df"     "tbl"        "data.frame"

In [55]:
#To check column names of data frame

names(analyticdata)

 [1] "USERID"                "COUNTRY"               "LANGUAGE"
 [4] "RegistrationDate"      "AGE"                   "GENDER"
 [7] "FOTotalStakes"         "FOTotalWinnings"       "FOTotalBets"
[10] "FOFirstActiveDate"     "FOLastActiveDate"      "FOTotalDaysActive"
[13] "LATotalStakes"         "LATotalWinnings"       "LATotalBets"
[16] "LAFirstActiveDate"     "LALastActiveDate"      "LATotalDaysActive"
[19] "FirstSportsActiveDate"

In [56]:
#To check dimensions of data frame: Rows (40499) and Columns (19)

dim(analyticdata)

[1] 40499    19

In [57]:
#To check data values for an idea of what to clean

head(analyticdata)

  USERID  COUNTRY LANGUAGE RegistrationDate AGE GENDER FOTotalStakes
1 1324354 276     2        2005-02-01       42  1      10137.3300
2 1324355 300     8        2005-02-01       22  1        400.8600
3 1324356 276     2        2005-02-01       28  1        686.1900
4 1324358 752     1        2005-02-01       24  1        247.6971
5 1324360 792     7        2005-02-01       27  1         59.9993
6 1324362 276     2        2005-02-01       22  1         22.0000
  FOTotalWinnings FOTotalBets FOFirstActiveDate FOLastActiveDate
1 10224.1200      236         2005-02-24        2005-09-30
2   453.3000      231         2005-02-01        2005-09-29
3   285.5100       98         2005-02-02        2005-09-12
4   153.8756        7         2005-02-01        2005-05-06
5    39.9564       40         2005-02-02        2005-09-25
6     0.0000        7         2005-02-11        2005-09-17
  FOTotalDaysActive LATotalStakes LATotalWinnings LATotalBets LAFirstActiveDate
1 97                1839.2800     1512.4900        43         2005-05-04
2 72                  24.7000       11.2000        21         2005-02-01
3 38                 679.0700      625.1500       116         2005-02-02
4  5                  88.5927       55.9819         4         2005-05-03
5 17                   1.7434        1.2009         3         2005-02-12
6  5                       NA            NA        NA         <NA>
  LALastActiveDate LATotalDaysActive FirstSportsActiveDate
1 2005-09-26       18                2005-02-24
2 2005-02-07        7                2005-02-01
3 2005-09-11       23                2005-02-02
4 2005-05-03        1                2005-02-01
5 2005-09-21        2                2005-02-02
6 <NA>             NA                2005-02-11

In [58]:
tail(analyticdata)

  USERID  COUNTRY LANGUAGE RegistrationDate AGE GENDER FOTotalStakes
1 1402188 792     7        2005-02-27       23  1       72.1004
2 1402189 276     2        2005-02-27       20  1       59.8700
3 1402190 300     8        2005-02-27       30  1      937.7200
4 1402191 724     4        2005-02-27       26  1      154.0000
5 1402192 792     7        2005-02-27       33  1        3.3735
6 1402197 300     8        2005-02-27       31  1      802.1000
  FOTotalWinnings FOTotalBets FOFirstActiveDate FOLastActiveDate
1  41.4494         16         2005-03-03        2005-03-14
2  19.8700         32         2005-04-23        2005-09-28
3 796.9300         36         2005-02-28        2005-09-15
4  63.0000         11         2005-02-27        2005-04-03
5   1.8025          3         2005-04-28        2005-05-20
6 429.0000        116         2005-03-02        2005-09-28
  FOTotalDaysActive LATotalStakes LATotalWinnings LATotalBets LAFirstActiveDate
1  8                  45.7227       47.8761        9          2005-03-02
2 26                   2.0000        0.0000        2          2005-04-27
3 21                1462.2900     1768.8300       41          2005-02-28
4  5                  60.0000       91.0000        6          2005-02-28
5  3                   2.8011        1.6807        5          2005-05-05
6 25                  60.0000      187.5000        2          2005-05-18
  LALastActiveDate LATotalDaysActive FirstSportsActiveDate
1 2005-03-04        3                2005-03-02
2 2005-05-03        2                2005-04-23
3 2005-09-20       19                2005-02-28
4 2005-02-28        1                2005-02-27
5 2005-05-06        1                2005-04-28
6 2005-09-27        2                2005-03-02

In [59]:
#One missing value in Gender Column

class(analyticdata$GENDER)
unique(analyticdata$GENDER)

[1] "numeric"

[1]  1  0 NA

In [60]:
#To understand data structure

str(analyticdata)

Classes 'tbl_df', 'tbl' and 'data.frame':	40499 obs. of  19 variables:
 $ USERID               : num  1324354 1324355 1324356 1324358 1324360 ...
  ..- attr(*, "label")= chr "User ID"
 $ COUNTRY              : num  276 300 276 752 792 276 208 276 620 792 ...
  ..- attr(*, "label")= chr "Country of Residence"
 $ LANGUAGE             : num  2 8 2 1 7 2 11 2 16 7 ...
  ..- attr(*, "label")= chr "Language"
 $ RegistrationDate     : Date, format: "2005-02-01" "2005-02-01" ...
 $ AGE                  : num  42 22 28 24 27 22 22 37 22 20 ...
  ..- attr(*, "label")= chr "Age at Registration"
 $ GENDER               : num  1 1 1 1 1 1 1 1 1 1 ...
  ..- attr(*, "label")= chr "Gender"
 $ FOTotalStakes        : num  10137 401 686 248 60 ...
  ..- attr(*, "label")= chr "Fixed-Odds Total Stakes"
 $ FOTotalWinnings      : num  10224 453 286 154 40 ...
  ..- attr(*, "label")= chr "Fixed-Odds Total Winnings"
 $ FOTotalBets          : num  236 231 98 7 40 7 3 11 149 91 ...
  ..- attr(*, "label")= chr "Fixed-Odds Total Bets"
 $ FOFirstActiveDate    : Date, format: "2005-02-24" "2005-02-01" ...
 $ FOLastActiveDate     : Date, format: "2005-09-30" "2005-09-29" ...
 $ FOTotalDaysActive    : num  97 72 38 5 17 5 3 8 56 32 ...
  ..- attr(*, "label")= chr "Fixed-Odds Total Days Active"
 $ LATotalStakes        : num  1839.28 24.7 679.07 88.59 1.74 ...
  ..- attr(*, "label")= chr "Live Action Total Stakes"
 $ LATotalWinnings      : num  1512.5 11.2 625.1 56 1.2 ...
  ..- attr(*, "label")= chr "Live Action Total Winnings"
 $ LATotalBets          : num  43 21 116 4 3 NA NA 37 328 112 ...
  ..- attr(*, "label")= chr "Live Action Total Bets"
 $ LAFirstActiveDate    : Date, format: "2005-05-04" "2005-02-01" ...
 $ LALastActiveDate     : Date, format: "2005-09-26" "2005-02-07" ...
 $ LATotalDaysActive    : num  18 7 23 1 2 NA NA 12 60 35 ...
  ..- attr(*, "label")= chr "Live Action Total Days Active"
 $ FirstSportsActiveDate: Date, format: "2005-02-24" "2005-02-01" ...
 - attr(*, "label")= chr "NEW"

In [61]:
glimpse(analyticdata)

Observations: 40,499
Variables: 19
$ USERID                <dbl> 1324354, 1324355, 1324356, 1324358, 1324360, ...
$ COUNTRY               <dbl> 276, 300, 276, 752, 792, 276, 208, 276, 620, ...
$ LANGUAGE              <dbl> 2, 8, 2, 1, 7, 2, 11, 2, 16, 7, 9, 11, 2, 8, ...
$ RegistrationDate      <date> 2005-02-01, 2005-02-01, 2005-02-01, 2005-02-...
$ AGE                   <dbl> 42, 22, 28, 24, 27, 22, 22, 37, 22, 20, 31, 2...
$ GENDER                <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
$ FOTotalStakes         <dbl> 10137.3300, 400.8600, 686.1900, 247.6971, 59....
$ FOTotalWinnings       <dbl> 10224.1200, 453.3000, 285.5100, 153.8756, 39....
$ FOTotalBets           <dbl> 236, 231, 98, 7, 40, 7, 3, 11, 149, 91, 198, ...
$ FOFirstActiveDate     <date> 2005-02-24, 2005-02-01, 2005-02-02, 2005-02-...
$ FOLastActiveDate      <date> 2005-09-30, 2005-09-29, 2005-09-12, 2005-05-...
$ FOTotalDaysActive     <dbl> 97, 72, 38, 5, 17, 5, 3, 8, 56, 32, 44, 2, 4,...
$ LATotalStakes         <dbl> 1839.2800, 24.7000, 679.0700, 88.5927, 1.7434...
$ LATotalWinnings       <dbl> 1512.4900, 11.2000, 625.1500, 55.9819, 1.2009...
$ LATotalBets           <dbl> 43, 21, 116, 4, 3, NA, NA, 37, 328, 112, 197,...
$ LAFirstActiveDate     <date> 2005-05-04, 2005-02-01, 2005-02-02, 2005-05-...
$ LALastActiveDate      <date> 2005-09-26, 2005-02-07, 2005-09-11, 2005-05-...
$ LATotalDaysActive     <dbl> 18, 7, 23, 1, 2, NA, NA, 12, 60, 35, 27, 1, 2...
$ FirstSportsActiveDate <date> 2005-02-24, 2005-02-01, 2005-02-02, 2005-02-...

In [62]:
#To understand the data values

summary(analyticdata)

     USERID           COUNTRY         LANGUAGE      RegistrationDate
 Min.   :1324354   Min.   :  8.0   Min.   : 1.000   Min.   :2005-02-01
 1st Qu.:1344236   1st Qu.:276.0   1st Qu.: 2.000   1st Qu.:2005-02-09
 Median :1363423   Median :276.0   Median : 2.000   Median :2005-02-16
 Mean   :1363396   Mean   :359.2   Mean   : 3.747   Mean   :2005-02-15
 3rd Qu.:1382601   3rd Qu.:300.0   3rd Qu.: 6.000   3rd Qu.:2005-02-22
 Max.   :1402197   Max.   :895.0   Max.   :17.000   Max.   :2005-02-27

      AGE             GENDER       FOTotalStakes      FOTotalWinnings
 Min.   : 14.00   Min.   :0.0000   Min.   :     0.0   Min.   :     0.0
 1st Qu.: 24.00   1st Qu.:1.0000   1st Qu.:    51.0   1st Qu.:    16.9
 Median : 29.00   Median :1.0000   Median :   148.0   Median :   100.8
 Mean   : 31.42   Mean   :0.9163   Mean   :   729.2   Mean   :   632.6
 3rd Qu.: 37.00   3rd Qu.:1.0000   3rd Qu.:   450.0   3rd Qu.:   368.8
 Max.   :105.00   Max.   :1.0000   Max.   :380094.0   Max.   :420949.3
                  NA's   :1        NA's   :780        NA's   :780
  FOTotalBets      FOFirstActiveDate    FOLastActiveDate     FOTotalDaysActive
 Min.   :    1.0   Min.   :2005-02-01   Min.   :2005-02-01   Min.   :  1.00
 1st Qu.:   11.0   1st Qu.:2005-02-12   1st Qu.:2005-03-20   1st Qu.:  5.00
 Median :   36.0   Median :2005-02-21   Median :2005-07-03   Median : 14.00
 Mean   :  134.8   Mean   :2005-02-26   Mean   :2005-06-23   Mean   : 24.31
 3rd Qu.:  109.0   3rd Qu.:2005-02-27   3rd Qu.:2005-09-24   3rd Qu.: 32.00
 Max.   :26345.0   Max.   :2005-09-29   Max.   :2005-09-30   Max.   :310.00
 NA's   :780       NA's   :780          NA's   :780          NA's   :780
 LATotalStakes      LATotalWinnings     LATotalBets       LAFirstActiveDate
 Min.   :     0.0   Min.   :     0.0   Min.   :    0.00   Min.   :2005-02-01
 1st Qu.:    15.0   1st Qu.:     6.5   1st Qu.:    4.00   1st Qu.:2005-02-16
 Median :    60.5   Median :    45.0   Median :   15.00   Median :2005-02-26
 Mean   :  1318.6   Mean   :  1233.6   Mean   :   99.27   Mean   :2005-03-15
 3rd Qu.:   281.3   3rd Qu.:   241.8   3rd Qu.:   60.00   3rd Qu.:2005-03-16
 Max.   :384518.3   Max.   :375006.0   Max.   :21230.00   Max.   :2005-09-30
 NA's   :15705      NA's   :15705      NA's   :15705      NA's   :15705
 LALastActiveDate     LATotalDaysActive FirstSportsActiveDate
 Min.   :2005-02-01   Min.   :  1.00    Min.   :2005-02-01
 1st Qu.:2005-03-09   1st Qu.:  2.00    1st Qu.:2005-02-12
 Median :2005-05-12   Median :  5.00    Median :2005-02-21
 Mean   :2005-06-01   Mean   : 13.54    Mean   :2005-02-26
 3rd Qu.:2005-09-06   3rd Qu.: 14.00    3rd Qu.:2005-02-27
 Max.   :2005-09-30   Max.   :234.00    Max.   :2005-09-29
 NA's   :15705        NA's   :15706

In [63]:
#Creating variables for merge: Pokerchips
#Created following variables: MinDate, MaxDate, TotalTransAmount based on UserID and TransType

pokerchips1 <- sqldf("SELECT UserID, TransType as Poker_TransType, MAX(TransDateTime) as Poker_MaxTransDate, MIN(TransDateTime) as Poker_MinTransDate, SUM(TransAmount) as Poker_TotalTransAmount, COUNT(TransType) as Poker_Count FROM pokerchips GROUP BY UserID, TransType")

In [64]:
head(pokerchips1)

  UserID  Poker_TransType Poker_MaxTransDate  Poker_MinTransDate
1 1324355 0               2005-06-15 02:40:00 2005-06-12 02:01:00
2 1324355 1               2005-06-14 23:48:00 2005-06-12 00:37:00
3 1324368 0               2005-05-30 00:28:00 2005-04-06 02:31:00
4 1324368 1               2005-05-29 23:40:00 2005-04-05 17:01:00
5 1324369 0               2005-03-03 11:56:00 2005-03-03 11:56:00
6 1324369 1               2005-03-03 11:53:00 2005-03-03 11:53:00
  Poker_TotalTransAmount Poker_Count
1    8.2593000            2
2   30.8295000            6
3 9620.8147000           32
4 9161.6582000           67
5    0.2949455            1
6    0.2949455            1

In [65]:
#Creating two new datasets based on buying and selling of pokerchips

pokerchipssell <- subset(pokerchips1, Poker_TransType == 1, select = c(UserID, Poker_TransType, Poker_TotalTransAmount, Poker_MinTransDate, Poker_MaxTransDate, Poker_Count))
pokerchipsbuy <- subset(pokerchips1, Poker_TransType == 0, select = c(UserID, Poker_TransType, Poker_TotalTransAmount, Poker_MinTransDate, Poker_MaxTransDate, Poker_Count))

In [66]:
head(pokerchipssell)

   UserID  Poker_TransType Poker_TotalTransAmount Poker_MinTransDate
2  1324355 1                 30.8295000           2005-06-12 00:37:00
4  1324368 1               9161.6582000           2005-04-05 17:01:00
6  1324369 1                  0.2949455           2005-03-03 11:53:00
8  1324371 1                122.6326185           2005-02-01 10:09:00
10 1324372 1                860.7839833           2005-09-02 19:11:00
12 1324377 1                 27.5521477           2005-02-01 00:51:00
   Poker_MaxTransDate  Poker_Count
2  2005-06-14 23:48:00   6
4  2005-05-29 23:40:00  67
6  2005-03-03 11:53:00   1
8  2005-02-10 00:07:00   5
10 2005-10-02 21:11:00 122
12 2005-02-03 01:54:00   5

In [67]:
#Looking for unique product IDs in UserDaily: 1 2 8 6 7 4 5

unique(userdaily$ProductID)

[1] 1 2 8 6 7 4 5

In [68]:
head(userdaily)

  UserID  Date       ProductID Stakes Winnings Bets
1 1324354 2005-02-24 1         20     0        2
2 1324354 2005-02-25 1          0     0        0
3 1324354 2005-02-27 1         20     0        2
4 1324354 2005-03-03 1         10     0        1
5 1324354 2005-03-04 1         10     0        1
6 1324354 2005-03-05 1         10     0        1

In [69]:
#Create variables like Total Stakes, Total Winnings, Total number of bets, Count of each product bought

userdaily1 <- sqldf("SELECT UserID, ProductID, Date, SUM(Stakes) as Product_TotalStakes, SUM(Winnings) as Product_TotalWinnings, SUM(Bets) as Product_TotalBets, COUNT(ProductID) as Product_CountOfProduct FROM userdaily GROUP BY UserID, ProductID")

In [70]:
str(userdaily1)

'data.frame':	80792 obs. of  7 variables:
 $ UserID                : num  1324354 1324354 1324355 1324355 1324356 ...
 $ ProductID             : num  1 2 1 2 1 2 1 2 1 2 ...
 $ Date                  : Date, format: "2005-02-24" "2005-05-04" ...
 $ Product_TotalStakes   : num  10137.3 1839.3 400.9 24.7 686.2 ...
 $ Product_TotalWinnings : num  10224.1 1512.5 453.3 11.2 285.5 ...
 $ Product_TotalBets     : num  236 43 231 21 98 116 7 4 40 3 ...
 $ Product_CountOfProduct: int  117 19 99 7 51 24 8 1 29 2 ...

In [71]:
# Creating new datasets based on product 

userdaily_1 <- subset(userdaily1, ProductID == 1, select = c(UserID, ProductID, Date, Product_TotalStakes, Product_TotalWinnings, Product_TotalBets, Product_CountOfProduct))
userdaily_2 <- subset(userdaily1, ProductID == 2, select = c(UserID, ProductID, Date, Product_TotalStakes, Product_TotalWinnings, Product_TotalBets, Product_CountOfProduct))
userdaily_4 <- subset(userdaily1, ProductID == 4, select = c(UserID, ProductID, Date, Product_TotalStakes, Product_TotalWinnings, Product_TotalBets, Product_CountOfProduct))
userdaily_5 <- subset(userdaily1, ProductID == 5, select = c(UserID, ProductID, Date, Product_TotalStakes, Product_TotalWinnings, Product_TotalBets, Product_CountOfProduct))
userdaily_6 <- subset(userdaily1, ProductID == 6, select = c(UserID, ProductID, Date, Product_TotalStakes, Product_TotalWinnings, Product_TotalBets, Product_CountOfProduct))
userdaily_7 <- subset(userdaily1, ProductID == 7, select = c(UserID, ProductID, Date, Product_TotalStakes, Product_TotalWinnings, Product_TotalBets, Product_CountOfProduct))
userdaily_8 <- subset(userdaily1, ProductID == 8, select = c(UserID, ProductID, Date, Product_TotalStakes, Product_TotalWinnings, Product_TotalBets, Product_CountOfProduct))

In [72]:
# Renaming columns in userdaily_1 dataset
userdaily_1 <- rename(userdaily_1, c("ProductID"="Product_1_ID", "Date"="Product_1_Date", "Product_TotalStakes"="Product_1_TotalStakes", "Product_TotalWinnings"="Product_1_TotalWinnings", "Product_TotalBets"="Product_1_TotalBets", "Product_CountOfProduct"="Product_1_CountOfProduct"))

In [73]:
# Renaming columns in userdaily_2 dataset
userdaily_2 <- rename(userdaily_2, c("ProductID"="Product_2_ID", "Date"="Product_2_Date", "Product_TotalStakes"="Product_2_TotalStakes", "Product_TotalWinnings"="Product_2_TotalWinnings", "Product_TotalBets"="Product_2_TotalBets", "Product_CountOfProduct"="Product_2_CountOfProduct"))

In [74]:
# Renaming columns in userdaily_4 dataset
userdaily_4 <- rename(userdaily_4, c("ProductID"="Product_4_ID", "Date"="Product_4_Date", "Product_TotalStakes"="Product_4_TotalStakes", "Product_TotalWinnings"="Product_4_TotalWinnings", "Product_TotalBets"="Product_4_TotalBets", "Product_CountOfProduct"="Product_4_CountOfProduct"))

In [75]:
# Renaming columns in userdaily_5 dataset
userdaily_5 <- rename(userdaily_5, c("ProductID"="Product_5_ID", "Date"="Product_5_Date", "Product_TotalStakes"="Product_5_TotalStakes", "Product_TotalWinnings"="Product_5_TotalWinnings", "Product_TotalBets"="Product_5_TotalBets", "Product_CountOfProduct"="Product_5_CountOfProduct"))

In [76]:
# Renaming columns in userdaily_6 dataset
userdaily_6 <- rename(userdaily_6, c("ProductID"="Product_6_ID", "Date"="Product_6_Date", "Product_TotalStakes"="Product_6_TotalStakes", "Product_TotalWinnings"="Product_6_TotalWinnings", "Product_TotalBets"="Product_6_TotalBets", "Product_CountOfProduct"="Product_6_CountOfProduct"))

In [77]:
# Renaming columns in userdaily_7 dataset
userdaily_7 <- rename(userdaily_7, c("ProductID"="Product_7_ID", "Date"="Product_7_Date", "Product_TotalStakes"="Product_7_TotalStakes", "Product_TotalWinnings"="Product_7_TotalWinnings", "Product_TotalBets"="Product_7_TotalBets", "Product_CountOfProduct"="Product_7_CountOfProduct"))

In [78]:
# Renaming columns in userdaily_8 dataset
userdaily_8 <- rename(userdaily_8, c("ProductID"="Product_8_ID", "Date"="Product_8_Date", "Product_TotalStakes"="Product_8_TotalStakes", "Product_TotalWinnings"="Product_8_TotalWinnings", "Product_TotalBets"="Product_8_TotalBets", "Product_CountOfProduct"="Product_8_CountOfProduct"))

In [79]:
#Checking if there are only unique values in analyticdata: TRUE
length(unique(analyticdata$USERID)) == nrow(analyticdata)

[1] TRUE

In [80]:
analyticdata_final <- analyticdata

<p>&nbsp;</p>



## 3. Merging our datasets

In [81]:
#Merging datasets to create datamart with one row per customer

df1 <- merge(x = demographics_final, y = analyticdata_final, by.x = "UserID", by.y = "USERID", all = TRUE)

In [82]:
df2 <- merge(x = df1, y = userdaily_1, by.x = "UserID", by.y = "UserID", all = TRUE)

In [83]:
df3 <- merge(x = df2, y = userdaily_2, by.x = "UserID", by.y = "UserID", all = TRUE)

In [84]:
df4 <- merge(x = df3, y = userdaily_4, by.x = "UserID", by.y = "UserID", all = TRUE)

In [85]:
df5 <- merge(x = df4, y = userdaily_5, by.x = "UserID", by.y = "UserID", all = TRUE)

In [86]:
df6 <- merge(x = df5, y = userdaily_6, by.x = "UserID", by.y = "UserID", all = TRUE)

In [87]:
df7 <- merge(x = df6, y = userdaily_7, by.x = "UserID", by.y = "UserID", all = TRUE)

In [88]:
df8 <- merge(x = df7, y = userdaily_8, by.x = "UserID", by.y = "UserID", all = TRUE)

In [89]:
# Renaming columns in pokerchipssell dataset

pokerchipssell <- rename(pokerchipssell, c("Poker_TransType"="Poker_Sell_TransType", "Poker_TotalTransAmount"="Poker_Sell_TotalTransAmount", "Poker_MinTransDate"="Poker_Sell_MinTransDate", "Poker_MaxTransDate"="Poker_Sell_MaxTransDate", "Poker_Count" = "Poker_BuyCount"))

In [90]:
# Renaming columns in pokerchipsbuy dataset

pokerchipsbuy <- rename(pokerchipsbuy, c("Poker_TransType"="Poker_Buy_TransType", "Poker_TotalTransAmount"="Poker_Buy_TotalTransAmount", "Poker_MinTransDate"="Poker_Buy_MinTransDate", "Poker_MaxTransDate"="Poker_Buy_MaxTransDate", "Poker_Count" = "Poker_SellCount"))

In [91]:
df9 <- merge(x = df8, y = pokerchipssell, by.x = "UserID", by.y = "UserID", all = TRUE)

In [92]:
df10 <- merge(x = df9, y = pokerchipsbuy, by.x = "UserID", by.y = "UserID", all = TRUE)

In [95]:
datamart <- df10

In [96]:
#Creating list of columns to be converted to numeric

nms <- c("FOTotalStakes", "FOTotalWinnings", "FOTotalBets", "LATotalStakes", "LATotalWinnings", "LATotalBets", "Product_1_TotalStakes", "Product_2_TotalStakes", "Product_4_TotalStakes", "Product_5_TotalStakes", "Product_6_TotalStakes", "Product_7_TotalStakes", "Product_8_TotalStakes", "Product_1_TotalWinnings", "Product_2_TotalWinnings", "Product_4_TotalWinnings", "Product_5_TotalWinnings", "Product_6_TotalWinnings", "Product_7_TotalWinnings", "Product_8_TotalWinnings", "Product_1_TotalBets", "Product_2_TotalBets", "Product_4_TotalBets", "Product_5_TotalBets", "Product_6_TotalBets", "Product_7_TotalBets", "Product_8_TotalBets", "Poker_Sell_TotalTransAmount", "Poker_Buy_TotalTransAmount", "Product_1_CountOfProduct", "Product_2_CountOfProduct", "Product_4_CountOfProduct", "Product_5_CountOfProduct", "Product_6_CountOfProduct", "Product_7_CountOfProduct", "Product_8_CountOfProduct", "Poker_BuyCount", "Poker_SellCount")

In [97]:
#Converting columns to numeric

datamart[nms] <- lapply(datamart[nms], as.numeric)

In [98]:
#Replacing null values with 0

datamart[nms][is.na(datamart[nms])] <- 0

# Creating calculated columns and metrics

In [99]:
#Calculating total spending
datamart$TotalSpending <- with(datamart, Poker_Buy_TotalTransAmount + Product_1_TotalStakes + Product_2_TotalStakes + Product_4_TotalStakes + Product_5_TotalStakes + Product_6_TotalStakes + Product_7_TotalStakes + Product_8_TotalStakes)

In [100]:
#Calculating total number of bets
datamart$TotalBets <- with(datamart, Product_1_TotalBets + Product_2_TotalBets + Product_4_TotalBets + Product_5_TotalBets + Product_6_TotalBets + Product_7_TotalBets + Product_8_TotalBets + Poker_BuyCount)

In [101]:
#Average Order Value (AOV): Total Revenue / Total no. of Bets
#This metric helps us understand customers spending habits and can help identify opportunities to upsell and make customise offers.

datamart$AverageOrderValue = with(datamart, TotalSpending / TotalBets)

In [102]:
#Calculating the total amount of money won per customer

datamart$TotalWinnings = with(datamart, Product_1_TotalWinnings + Product_2_TotalWinnings + Product_4_TotalWinnings + Product_5_TotalWinnings + Product_6_TotalWinnings + Product_7_TotalWinnings + Product_8_TotalWinnings + Poker_Sell_TotalTransAmount)

In [103]:
#Profitability per order (PPO): (Total Revenue - Total Winnings) / Total no. of bets

datamart$Profitability = with(datamart, (TotalSpending - TotalWinnings) / TotalBets)

In [104]:
#Number of customers who have bet more than once

RepeatCustomers = length(which(datamart$TotalBets > 36))
print(RepeatCustomers)

[1] 26994

In [105]:
#Total no. of customers

CustomerCount = nrow(datamart)
print(CustomerCount)

[1] 44295

In [106]:
#Repeat Bet Rate (RBP): No. of customers who have bet more than once / Total no. of customers

RepeatBetRate = RepeatCustomers/CustomerCount
print(RepeatBetRate)

[1] 0.6094142

In [107]:
#Number of customers who have bet more than 36 times

LoyalCustomers = sum(datamart$TotalBets > 36)
print(LoyalCustomers)

[1] 26994

In [108]:
#Customer Loyalty Rate: Customers who have bet +36 times / No. of unique customers

CustomerLoyaltyRate = LoyalCustomers/CustomerCount
print(CustomerLoyaltyRate)

[1] 0.6094142

In [109]:
length(unique(datamart$UserID)) == nrow(datamart)

[1] TRUE

<p>&nbsp;</p>

## 4. Creating the CSV files for the Shiny App

In [113]:
library(readxl)

In [114]:
countries <- read_excel("C:\\Users\\kfernandes\\Desktop\\Kripa Fernandes\\R Group Project\\Country names.xlsx")

In [115]:
datamart_c <- merge(x = datamart, y = countries, by.x = "Country", by.y = "Country")

In [117]:
datamart = subset(datamart_c, select = -c(Country))

In [118]:
datamart = subset(datamart, select = -c(COUNTRY, LANGUAGE, GENDER))

In [120]:
datamart$Poker_PositiveProfits<-datamart$Poker_Sell_TotalTransAmount-datamart$Poker_Buy_TotalTransAmount
datamart$Poker_PositiveProfits[datamart$Poker_PositiveProfits<0]<-0

In [121]:
datamart$OldCustomer<-as.Date("2oct2005", "%d%b%Y")- as.Date(datamart$FirstAct, "%Y-%m-%d")

In [122]:
  datamart$Product_1_Gain<-datamart$Product_1_TotalWinnings-datamart$Product_1_TotalStakes
  datamart$Product_1_GainPositive<-datamart$Product_1_Gain
  datamart$Product_1_GainPositive[datamart$Product_1_GainPositive<0]<-0

  datamart$Product_2_GainPositive<-datamart$Product_2_TotalWinnings-datamart$Product_2_TotalStakes
  datamart$Product_2_GainPositive[datamart$Product_2_GainPositive<0]<-0

  datamart$Product_4_GainPositive<-datamart$Product_4_TotalWinnings-datamart$Product_4_TotalStakes
  datamart$Product_4_GainPositive[datamart$Product_4_GainPositive<0]<-0

  datamart$Product_5_GainPositive<-datamart$Product_5_TotalWinnings-datamart$Product_5_TotalStakes
  datamart$Product_5_GainPositive[datamart$Product_5_GainPositive<0]<-0

  datamart$Product_6_GainPositive<-datamart$Product_6_TotalWinnings-datamart$Product_6_TotalStakes
  datamart$Product_6_GainPositive[datamart$Product_6_GainPositive<0]<-0
  
  datamart$Product_7_GainPositive<-datamart$Product_7_TotalWinnings-datamart$Product_7_TotalStakes
  datamart$Product_7_GainPositive[datamart$Product_7_GainPositive<0]<-0
  
  datamart$Product_8_GainPositive<-datamart$Product_8_TotalWinnings-datamart$Product_8_TotalStakes
  datamart$Product_8_GainPositive[datamart$Product_8_GainPositive<0]<-0

In [123]:
write.csv(datamart,"datamart.csv")

In [124]:
country_analysis <- sqldf("SELECT CountryName, COUNT(Product_1_ID) as P1, COUNT(Product_2_ID) as P2, COUNT(Poker_Buy_TransType) as P3, COUNT(Product_4_ID) as P4, COUNT(Product_5_ID) as P5, COUNT(Product_6_ID) as P6, COUNT(Product_7_ID) as P7, COUNT(Product_8_ID) as P8, SUM(TotalSpending) as TotalSpending FROM datamart GROUP BY CountryName")

In [125]:
anal_country <- country_analysis[order(-country_analysis$TotalSpending),]

In [126]:
country_P1<-head(country_analysis[order(-country_analysis$P1),],10)
write.csv(country_P1,"country_P1.csv")

In [127]:
country_P1

   CountryName P1    P2    P3  P4  P5  P6  P7  P8  TotalSpending
27 Germany     23590 14598 163 281  53 274 122 607 41297722
74 Turkey       2337  1567 194   7  82 358 331 576  4853013
29 Greece       2335  1495 101  59  49  45 185 585 14180753
67 Spain        2304  1387 121 226  85 329 184 516 10514531
57 Poland       2194  1660  98 233 172 264 122 234  3710983
25 France       1996  1234 171 216 121 294 217 446  7961136
18 Denmark      1376   624 866 268  33 241 158 491  7438483
5  Austria      1316   768 126 249  63 185 131 504 13440849
36 Italy         958   599 129 149  74 219 173 334  7485071
69 Switzerland   559   356  49  71  21  74  48 183  4449965

In [128]:
country_P2<-head(country_analysis[order(-country_analysis$P2),],10)
write.csv(country_P2,"country_P2.csv")

In [129]:
country_P3<-head(country_analysis[order(-country_analysis$P3),],10)
write.csv(country_P3,"country_P3.csv")

In [130]:
country_P4<-head(country_analysis[order(-country_analysis$P4),],10)
write.csv(country_P4,"country_P4.csv")

In [131]:
country_P5<-head(country_analysis[order(-country_analysis$P5),],10)
write.csv(country_P5,"country_P5.csv")

In [132]:
country_P6<-head(country_analysis[order(-country_analysis$P6),],10)
write.csv(country_P6,"country_P6.csv")

In [133]:
country_P7<-head(country_analysis[order(-country_analysis$P7),],10)
write.csv(country_P7,"country_P7.csv")

In [134]:
country_P8<-head(country_analysis[order(-country_analysis$P8),],10)
write.csv(country_P8,"country_P8.csv")

In [135]:
gender_analysis <- sqldf("SELECT Gender, COUNT(Product_1_ID) as P1, COUNT(Product_2_ID) as P2, COUNT(Poker_Buy_TransType) as P3, COUNT(Product_4_ID) as P4, COUNT(Product_5_ID) as P5, COUNT(Product_6_ID) as P6, COUNT(Product_7_ID) as P7, COUNT(Product_8_ID) as P8, SUM(TotalSpending) as TotalSpending FROM datamart GROUP BY Gender")

In [136]:
anal_gender <- gender_analysis[order(-gender_analysis$TotalSpending),]

In [137]:
anal_gender<-anal_gender[1:2,]
anal_gender$Gender[anal_gender$Gender==1]<-"Male"
anal_gender$Gender[anal_gender$Gender==0]<-"Female"
write.csv(anal_gender,"gender.csv")

In [138]:
age_analysis <- sqldf("SELECT AGE, COUNT(Product_1_ID) as P1, COUNT(Product_2_ID) as P2, COUNT(Poker_Buy_TransType) as P3, COUNT(Product_4_ID) as P4, COUNT(Product_5_ID) as P5, COUNT(Product_6_ID) as P6, COUNT(Product_7_ID) as P7, COUNT(Product_8_ID) as P8, SUM(TotalSpending) as TotalSpending FROM datamart GROUP BY AGE")

In [139]:
anal_age <- age_analysis[order(age_analysis$AGE),]
anal_age<-anal_age[1:78,]
write.csv(anal_age,"age.csv")

# Creating final marketing datamart with key values

In [141]:
final <- rename(datamart, c("Product_1_ID"="Sports book fixed odds", "Product_1_Date"="Sports book fixed odds: Date", "Product_1_TotalStakes"="Sports book fixed odds: Total Stakes", "Product_1_TotalWinnings"="Sports book fixed odds: Total Winnings", "Product_1_TotalBets"="Sports book fixed odds: Total Bets", "Product_1_CountOfProduct"="Sports book fixed odds: No. of purchases"))

In [142]:
final <- rename(final, c("Product_2_ID"="Sports book live action", "Product_2_Date"="Sports book live action: Date", "Product_2_TotalStakes"="Sports book live action: Total Stakes", "Product_2_TotalWinnings"="Sports book live action: Total Winnings", "Product_2_TotalBets"="Sports book live action: Total Bets", "Product_2_CountOfProduct"="Sports book live action: No. of purchases"))

In [143]:
final <- rename(final, c("Product_4_ID"="Casino BossMedia", "Product_4_Date"="Casino BossMedia: Date", "Product_4_TotalStakes"="Casino BossMedia: Total Stakes", "Product_4_TotalWinnings"="Casino BossMedia: Total Winnings", "Product_4_TotalBets"="Casino BossMedia: Total Bets", "Product_4_CountOfProduct"="Casino BossMedia: No. of purchases"))

In [144]:
final <- rename(final, c("Product_5_ID"="Supertoto", "Product_5_Date"="Supertoto: Date", "Product_5_TotalStakes"="Supertoto: Total Stakes", "Product_5_TotalWinnings"="Supertoto: Total Winnings", "Product_5_TotalBets"="Supertoto: Total Bets", "Product_5_CountOfProduct"="Supertoto: No. of purchases"))

In [145]:
final <- rename(final, c("Product_6_ID"="Games VS", "Product_6_Date"="Games VS: Date", "Product_6_TotalStakes"="Games VS: Total Stakes", "Product_6_TotalWinnings"="Games VS: Total Winnings", "Product_6_TotalBets"="Games VS: Total Bets", "Product_6_CountOfProduct"="Games VS: No. of purchases"))

In [146]:
final <- rename(final, c("Product_7_ID"="Games btwin", "Product_7_Date"="Games btwin: Date", "Product_7_TotalStakes"="Games btwin: Total Stakes", "Product_7_TotalWinnings"="Games btwin: Total Winnings", "Product_7_TotalBets"="Games btwin: Total Bets", "Product_7_CountOfProduct"="Games btwin: No. of purchases"))

In [147]:
final <- rename(final, c("Product_8_ID"="Casino Chartwell", "Product_8_Date"="Casino Chartwell: Date", "Product_8_TotalStakes"="Casino Chartwell: Total Stakes", "Product_8_TotalWinnings"="Casino Chartwell: Total Winnings", "Product_8_TotalBets"="Casino Chartwell: Total Bets", "Product_8_CountOfProduct"="Casino Chartwell: No. of purchases"))

In [148]:
final <- rename(final, c("Poker_SellCount"="Poker: No. of sells", "Poker_Sell_TotalTransAmount"="Poker: Total amount sold", "Poker_Sell_MinTransDate"="Poker: First Sell Transaction Date", "Poker_Sell_MaxTransDate"="Poker: Last Sell Transaction Date", "Poker_BuyCount"="Poker: No. of buys", "Poker_Sell_TransType"="Poker: Customer has sold chips", "Poker_Buy_TransType"="Poker: Customer has bought chips"))

In [149]:
final <- rename(final, c("UserID"="User ID", "RegDate"="Registration Date", "AGE"="Age", "Poker_Buy_TotalTransAmount"="Poker: Total amount bought", "Poker_Buy_MinTransDate"="Poker: First Buy Transaction Date", "Poker_Buy_MaxTransDate"="Poker: Last Buy Transaction Date"))

In [150]:
final <- rename(final, c("TotalSpending"="Total Expenditure", "TotalBets"="Total no. of bets", "AverageOrderValue"="Average Order Value (AOV)", "TotalWinnings"="Total won"))

In [151]:
marketing<-subset(final,select=-c(FirstPay,FirstAct,FirstSp,FirstCa,FirstGa,FirstPo,ApplicationID,RegistrationDate,FOTotalStakes,FOTotalWinnings,FOTotalBets,FOFirstActiveDate,FOLastActiveDate,FOTotalDaysActive,LATotalStakes,LATotalWinnings,LATotalBets,LAFirstActiveDate,LALastActiveDate,LATotalDaysActive,FirstSportsActiveDate,Poker_PositiveProfits,OldCustomer,Product_1_Gain,Product_1_GainPositive,Product_2_GainPositive,Product_4_GainPositive,Product_5_GainPositive,Product_6_GainPositive,Product_7_GainPositive,Product_8_GainPositive
))

# Calculating summary values from dataframe

In [ ]:
# Which are the biggest countries with gamblers

topgamblers_per_Country <- count(datamart$COUNTRY)
topgamblers_sorted <- top_n(topgamblers_per_Country, 10, freq)
topgamblers_sorted

In [ ]:
# Gamblers per gender
# 1 = male
# 0 = female

gamblers_gender <- count(datamart$Gender)
gamblers_gender

In [ ]:
# Most popular Products

Products_popularity <- count(userdaily$ProductID)
Products_popularity

In [ ]:
# Customer average life exploration

average_gamblerlife <- (datamart$AGE)
average_gamblerlife

In [ ]:
# Average age on registration 

datamart['AGE'][is.na(datamart['AGE'])] <- 0
gambler_age <- (datamart$AGE)
mean(gambler_age)

In [ ]:
# Summary information on ages

summary(gambler_age)